<nav>
    <ul>
        <li><a href="{{ path('serie_home') }}">Home</a></li>
        <li><a href="{{ path('serie_liste') }}">Catalogue</a></li>
        <li><a href="{{ path('serie_create') }}">Nouvelle série</a></li>
    </ul>
</nav>