{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Edition{% endblock %}

{% block body %}
    <h2>Editer une série</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6">
            {{ form(serie_form) }}
            {% if serie is defined %}
                <img src="{{ asset('posters/series/' ~ serie.poster) }}">
            {% endif %}
        </div>
    </div>
{% endblock %}